{% extends 'index.html' %}

{% load cart_tag %}

{% block content %}
    <style>
        body {
            margin-top: 20px;
            background: #eee;
        }

        h3 {
            font-size: 16px;
        }

        .text-navy {
            color: #1ab394;
        }

        .cart-product-imitation {
            text-align: center;
            padding-top: 30px;
            height: 80px;
            width: 80px;
            background-color: #f8f8f9;
        }

        .product-imitation.xl {
            padding: 120px 0;
        }

        .product-desc {
            padding: 20px;
            position: relative;
        }

        .ecommerce .tag-list {
            padding: 0;
        }

        .ecommerce .fa-star {
            color: #d1dade;
        }

        .ecommerce .fa-star.active {
            color: #f8ac59;
        }

        .ecommerce .note-editor {
            border: 1px solid #e7eaec;
        }

        table.shoping-cart-table {
            margin-bottom: 0;
        }

        table.shoping-cart-table tr td {
            border: none;
            text-align: right;
        }

        table.shoping-cart-table tr td.desc,
        table.shoping-cart-table tr td:first-child {
            text-align: left;
        }

        table.shoping-cart-table tr td:last-child {
            width: 80px;
        }

        .ibox {
            clear: both;
            margin-bottom: 25px;
            margin-top: 0;
            padding: 0;
        }

        .ibox.collapsed .ibox-content {
            display: none;
        }

        .ibox:after,
        .ibox:before {
            display: table;
        }

        .ibox-title {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #ffffff;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 3px 0 0;
            color: inherit;
            margin-bottom: 0;
            padding: 14px 15px 7px;
            min-height: 48px;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 15px 20px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .ibox-footer {
            color: inherit;
            border-top: 1px solid #e7eaec;
            font-size: 90%;
            background: #ffffff;
            padding: 10px 15px;
        }
    </style>




    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                {#      Kolona 1          #}
                <div class="col-md-9">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong>{{ request.session.cart|length }}</strong>) produkt</span>
                            <h5>Produkte në shportë</h5>
                        </div>
                        {#          Messages          #}
                        {% include 'includes/messages.html' %}

                        {% for key,value in request.session.cart.items %}
                            {{ value.sasia }}
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">
                                        <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                    <img src="{{ value.image }}" width="90%">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h3>
                                                    <a href="#" class="text-navy">
                                                        {{ value.name }}
                                                    </a>
                                                </h3>
                                                {#                                                <p class="small">#}
                                                {#                                                </p>#}
                                                {#                                                <dl class="small m-b-none">#}
                                                {#                                                    <dt>Description lists</dt>#}
                                                {#                                                    <dd>A description list is perfect for defining terms.</dd>#}
                                                {#                                                </dl>#}

                                                <div class="m-t-sm">
                                                    <a href="{% url 'item_increment' value.product_id %}"
                                                       class="text-muted"><i class="fa fa-cart-plus"></i> Shto</a>
                                                    |
                                                    <a href="{% url 'item_decrement' value.product_id %}"
                                                       class="text-muted"><i class="fa fa-trash"></i> Hiq</a>
                                                </div>
                                            </td>

                                            <td>
                                                {{ value.price }} Lekë

                                                {#                                                <s class="small text-muted"></s>#}
                                            </td>
                                            <td width="65">
                                                <input type="text" class="form-control"
                                                       placeholder="{{ value.quantity }}" value="{{ value.quantity }}">
                                            </td>
                                            <td>
                                                <h4>
                                                    {{ value.price|multiply:value.quantity }} Lekë
                                                </h4>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        {% endfor %}

                        {# Buttons #}
                        <div class="ibox-content">
                            <a href="{% url 'porosit' %}">
                                <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i>
                                    Bli
                                </button>
                            </a>

                            <a class="btn btn-white" href="/"><i class="fa fa-arrow-left"></i>Vazhdo blerjet
                            </a>
                        </div>

                    </div>
                </div>

                {# Kolona 2 #}
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Cmimi Total</h5>
                        </div>
                        <div class="ibox-content">
                    <span>
                        Total
                    </span>
                            <h2 class="font-bold">
                                {{ cart_total_amount }}
                                Lekë
                            </h2>

                            <hr>
                            <span class="text-muted small">
                        *Pagesa behet kur merret produkti
                    </span>

                            <div class="m-t-sm">
                                <div class="btn-group">
                                    {#                                    <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i>#}
                                    {#                                        Bli#}
                                    {#                                    </button>#}
                                    <a href="{% url 'cart_clear' %}" class="btn btn-white btn-sm"><i
                                            class="fa fa-trash"></i> Pastro</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Suport</h5>
                        </div>
                        <div class="ibox-content text-center">
                            <h3><i class="fa fa-phone"></i> +355 10 07 001</h3>
                            <span class="small">
                                Kontaktoni me ne nëse keni pyetje. Suport 24 orë.
                    </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}